.bg
{
  background-color: #2c3e50;
}
#logo
  {
      border-radius: 50%; float: right;
      
  }
  body{
    padding-top:65px;  
    font-size: 1.2rem;
}
html{
  scroll-behavior: smooth;
}
.row
{
  padding: 10px;
}
.about
{
  background-color: rgba(0,0,0,0.12);
}
.coursesindivisual
{
  background-color: rgba(6, 5, 3, 0.2);
}
.coursesrates
{
  background-color: rgba(6, 5, 3, 0.2);
}
.features
{
  background-color: rgba(0,0,0,0.12);
}
.header
{
  background-image: url("./Images/backgroundimg.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
  color:black;
  /* Flexbox */
  display: flex;
  align-items: center;
  font-weight: 700;
}
#head
{
  font-size: 3rem;
  font-weight: bolder;
  color: #ffffff;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4)
                ,0px 8px 13px rgba(0,0,0,0.1)
                ,0px 18px 23px rgba(0,0,0,0.1);
                font-family: 'Lato';
}
.footer
{
    background-color: #2c3e50;
    color: #ffffff;
    padding: 20px;
    font-size: 1.5rem;
}
.btn
{
  margin-left: 40%;
  margin-top: 10px;
}

.mylist
{
    list-style: none;
}
hr{
  
 width: 90px;
 height: 10px;
 background-color: #b334d3;
 
 border-radius: 2px 0 0 2px;
}
h1{
  margin-left: auto;
  padding: 10px;
  font-weight: 700;
  font-size: 3.0em;
  font-family: 'Lato';
  padding-top: 7%;
}
#mail
{
    padding: 10px;
    margin-left: 50%;
}
